:root {
    --md-primary-fg-color: #765bfa;
    --md-accent-fg-color: #AEA1F1;
    --bg-color-blue: #0b4952;
    --bg-color-green: #000000;
    --bg-color-yellow: #060025;
}

.md-grid {
  max-width: 100%; /* or 100%, if you want to stretch to full-width */
}

.bg-blue {
    background-color: var(--bg-color-blue);
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.bg-green {
    background-color: var(--bg-color-green);
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.bg-yellow {
    background-color: var(--bg-color-yellow);
    width: 100% !important;
    margin: 0;
    padding: 0;
}

.centered {
  text-align: center;
  align-items: center;
}

.left {
  text-align: left;
  align-items: left;
}

.content {
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 2%;
  margin: 0;
}

.md-typeset h3.top-left{
  padding-left: 1%;
  padding-top: 1%;
  padding-bottom: 10px;
  margin: 0 !important;
}

.md-typeset h3.bottom{
  margin: 0 !important;
  padding-bottom: 20px;
}

.green {
  color: #05E5AD;
}

.white {
  color: #ffffff
}

.vscode-blue {
  color: #2F9FD1
}

.purple {
  color: #765bfa
}

@media (max-width: 768px) {
  .content {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin: 0;
  }
}

.md-content__inner {
  margin-left: 0;
  margin-right: 0;
}

.md-nav__title, .md-nav__link  {
    font-size: 16px; 
}

.md-tabs__link  {
    font-size: 16px; 
}

.md-header__title {
    font-size: 22px;
    margin-left: 0px !important;
}

.md-content img {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    outline-width: 3px;
    outline-style: solid;
    outline-color: darkgray;
  }

.md-content img.no-border {
  border-width: 0px;
  outline-width: 0px;
}

.code-style {
  font-family: 'Source Code Pro', monospace;
  font-size: 14px;
}


.md-typeset h2,
.md-typeset h1,
.md-typeset h3,
.md-typeset h4 {
  font-family: 'Source Code Pro', monospace;
  color: azure;
}

.md-typeset p,
.md-typeset li {
  font-family: 'Source Code Pro', monospace;
  color: ghostwhite;
}

.md-typeset strong {
  color: #05E5AD;
}



:root {
  --md-text-font: "Source Code Pro";
  --md-code-font: "Source Code Pro";
}
